@using TaileOfFriend.DAL.Enteties
@model TaileOfFriend.web.ViewModel.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>

<div>
    <p>
        <b>Email:</b><br />
        @Html.Display("Email")
    </p>
    <p>
        <b>UserName:</b><br />
        @Html.Display("UserName")
    </p>
    <p>
        <b>Age:</b><br />
        @Html.Display("Age")
    </p>
    <p>
        <b>Location:</b><br />
        @Html.Display("Location")
    </p>
    <p>
        <b>Email:</b><br />
        @Html.Display("Email")
    </p>

    <form asp-action="AddImage" asp-controller="Profile" method="post" enctype="multipart/form-data">
        <input type="file" name="formFile" value="" />
        <input type="submit" name="submit" value="Save" />
    </form>

</div>